<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2 text-center">Tell Everybody</h1>
    <p class="lead text-center">Get the latest headlines and summaries of today's news. 
    <br> Read the article. (Or not!) <br>TELL EVERYBODY WHAT YOU THINK!</p>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 article">
			<!-- scraped articles go in here -->
		</div>

		<div class="col-md-1">
		 <!-- space maker -->
		</div>

		<div class="col-md-5 comment">
			<!-- comments users' make about each article go in here -->
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12 read">
			<!-- space to read previous users' comments about each article go in here -->
		</div>		
	</div>



</div>