<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1 text-center">Tell Everybody</span>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-6 article">
			<!-- scraped articles go in here -->
		</div>

		<div class="col-md-1">
		 <!-- space maker -->
		</div>

		<div class="col-md-5 read">
			<!-- space to read previous users' comments about each article go in here -->
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12 comment">
			<!-- comments users' make about each article go in here -->
		</div>
	</div>



</div>