.article {
	border: 3px solid black;
	height: 500px;
	padding-right: 0;
	padding-left: 0;
}

.read {
	border: 3px solid red;
}

.comment {
	border: 3px solid orange;
}

.card {
	width: 100%;
}

#savecomment {
	margin-top: 20px;
}

label {
	font-weight: bold;
}

/*Log In button*/
.login {
	margin-left: 10px;
}

